<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL 매핑 -->
<mapper namespace="ezen.pro.mapper.boardmapper">

	<!-- 등록 -->
	<insert id="boardregister" parameterType="ezen.pro.domain.boardVO">
	<![CDATA[
	INSERT INTO board (bcon, btie, bwriter, cate)
	VALUES (#{bcon}, #{btie}, #{bwriter}, #{cate})
	]]> <!-- CDATA 사용 하는 이유 : 
	         SQL 문에 XML에서 특수한 의미를 가지는 문자
	         (예: <, >, &)가 포함될 수 있기 때문 -->
	</insert>

	<!-- 조회 -->
	<select id="getboarddetail" parameterType="int" resultType="ezen.pro.domain.boardVO">
		SELECT * FROM board WHERE bno = #{bno}
	</select>

	<!-- 삭제 -->
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board WHERE bno = #{bno}
	</delete>

	<!-- 수정 -->
	<update  id="updateboard"  parameterType="ezen.pro.domain.boardVO" >
		UPDATE board SET btie = #{btie}, bcon = #{bcon}, cate=#{cate} WHERE bno = #{bno}
	</update>

	<!-- 페이징 -->
	<select id="pagingboard" parameterType="int" resultType="ezen.pro.domain.boardVO">
		SELECT *
		FROM (
		SELECT bno, bcon, btie, bwriter, cate, bdate, imageurl, @ROWNUM:=@ROWNUM+1 AS rowNum
		FROM board, (SELECT @ROWNUM:=0) AS R
		) T
		LIMIT #{offset}, #{limit}
	</select>

	<!-- 모두 조회 -->
	<select id="allreadboard" resultType="ezen.pro.domain.boardVO">
		SELECT * FROM board
	</select>

</mapper>
