<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL 매핑 -->
<mapper namespace="ezen.pro.mapper.boardmapper">
	<sql id="serch">
		<if test="word!=null">
			where
			<if test="word!=null">
				bwriter like CONCAT('%', #{word}, '%') or btie like CONCAT('%', #{word},
				'%') or bcon like CONCAT('%', #{word}, '%')
			</if>
			<if test="cate!=null">
				and cate=#{cate}
			</if>
		</if>
	</sql>
	<!-- 등록 -->
	<insert id="boardregister"
		parameterType="ezen.pro.domain.boardVO">
	<![CDATA[
	INSERT INTO board (bcon, btie, bwriter, cate)
	VALUES (#{bcon}, #{btie}, #{bwriter}, #{cate})
	]]> <!-- CDATA 사용 하는 이유 : SQL 문에 XML에서 특수한 의미를 가지는 문자 (예: <, >, &)가 포함될 수 있기 
			때문 -->
	</insert>

	<!-- 삭제 -->
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board WHERE
		bno = #{bno}
	</delete>

	<!-- 수정 -->
	<update id="updateboard" parameterType="ezen.pro.domain.boardVO">
		UPDATE board SET btie =
		#{btie}, bcon = #{bcon}, cate=#{cate} WHERE
		bno = #{bno}
	</update>

	<!-- 페이징 -->
	<select id="pagingboard" resultType="ezen.pro.domain.boardVO"
		parameterType="ezen.pro.domain.pageVO">
		select A.* from
		(select
		ROW_NUMBER() over(ORDER BY bno) AS rownum, t.*
		from board t ) A
<include refid="serch"></include>
		order by
		bno desc LIMIT #{count} offset #{pagenum}
	</select>

	<!-- 모두 조회 -->
	<select id="totboard" resultType="Integer">
		SELECT count(*) FROM board
		<include refid="serch"></include>
	</select>
	
	<select id="getboarddetail" resultType="ezen.pro.domain.boardVO">
		select * from board where
		bno=#{bno}
	</select>
	


</mapper>
