<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="ezen.pro.mapper.boardmapper">

	<!-- insert -->
	<insert id="insertboard">
		insert into board(bcon,btie,bwriter,cate)
		values(#{bcon},#{btie},#{bwriter},#{cate})
	</insert>

	<!-- read 변경해야함-->
	<select id="readboard" resultType="ezen.pro.domain.boardVO">
		select * from board where bno =
		#{bno}
	</select>


	<!-- delete -->
	<delete id="deleteboard">
		delete from board where bno = #{bno}
	</delete>
	
	<!-- update -->
	<update id="updateboard">
		update board
		set btie = #{btie},
		bcon = #{bcon}
		where bno = #{bno}
	</update>


	<!-- 페이지 변경해야함-->
	<select id="pagingboard" resultType="ezen.pro.domain.boardVO">
		SELECT bno, bcon, btie, bwriter, cate, bdate
		FROM board
		LIMIT 10 OFFSET #{offset}
	</select>


</mapper>