<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="ezen.pro.mapper.catemapper">
<insert id="insertcate">
insert into cate values(#{cate})
</insert>
<delete id="deletecate">
delete from cate where cate=#{cate}
</delete>
<select id="selectcate" resultType="ezen.pro.domain.cateVO">
select cate from cate
</select>
</mapper>