<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="ezen.pro.mapper.replymapper">
	<insert id="insertreply">
		insert into reply(rwriter,rcon,bno) values(#{rwriter},#{rcno},#{bno})
	</insert>
	<select id="selectreply" resultType="ezen.pro.domain.replyVO">
		select rwriter,rcon,bno,rno,rdate from reply where bno=#{bno}
	</select>
	<update id="updatereply">
		update reply set rcon=#{rcon} where rno=#{rno}
	</update>
	<delete id="deletereply">
		delete from reply where rno=#{rno}
	</delete>
</mapper>