<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="ezen.pro.mapper.usermapper">
<insert id="insertuser">
insert into user(id,password,name,phone) values(#{id},#{password},#{name},#{phone})
</insert>
<delete id="deleteuser" parameterType="Long">
delete from user where id=#{id}
</delete>
<update id="updategrade" >
update user set grade=2 from id=#{id}
</update>
<select id="selectuser" resultType="ezen.pro.domain.userVO" >
select id,password from user where id=#{id}
</select>
<select id="selectgrade" resultType="Integer">
select grade from user where id=#{id}
</select>
<select id="selectcheckid" resultType="Integer">
select count(*) from user where id= #{id}
</select>
</mapper>